@media only screen and (min-width: 768px) {
  .body-container {
    margin: 0 auto;
    padding-top: 90px;
    width: 1100px;
  }

  .body-padding {
    padding: 20px;
  }

  .in-teathers-title {
    font-weight: 500 !important;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .in-teathers-more {
    font-weight: 500 !important;
    padding: 10px 0;
    font-size: 16px;
    text-align: right;
  }
}
