@media only screen and (min-width: 768px) {
  .body-container {
    margin: 0 auto;
    padding-top: 90px;
    width: 1100px;
  }

  .body-padding {
    padding: 20px;
  }
}

.show-more {
  font-weight: 500 !important;
  padding: 10px 0;
  font-size: 16px;
  text-align: right;
}

.show-more:hover {
  cursor: pointer;
  text-decoration: underline;
}
